.header {
  background-color: #ffffff;

  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: left;
}
.hero-section {
  background-color: #2e2f42;
  font-family: Roboto;
  font-size: 56px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
}
.button-hero {
  width: Hug (169px) px;
  height: Hug (56px) px;
  top: 428px;
  left: 636px;
  padding: 16px 32px 16px 32px;
  gap: 10px;
  border-radius: 4px 0px 0px 0px;
  opacity: 0px;
  background: #4d5ae5;
  box-shadow: 0px 4px 4px 0px #00000026;
}
.benefits {
  width: Fixed (264px) px;
  height: Hug (104px) px;
  top: 792px;
  left: 156px;
  gap: 8px;
  opacity: 0px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: left;
}

.our-team-title {
  font-family: Roboto;
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.02em;
  text-align: center;
}
.our-team-name {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: center;
}
.our-team-text {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: center;
}
ul,
ol {
  list-style-type: none;
}
body {
  font-family: Roboto;
}
.portfolio-title {
  font-family: Roboto;
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.02em;
  text-align: center;
}
.portfolio-name {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: left;
}
.portfolio-text {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: left;
}
.footer {
  width: 1440px;
  height: 312px;
  top: 2988px;
  gap: 0px;
  opacity: 0px;
  background-color: #2e2f42;
  color: #f4f4fd;
}
.logo {
  width: Hug (115px) px;
  height: Fixed (24px) px;
  top: 3088px;
  left: 156px;
  gap: 0px;
  opacity: 0px;
  list-style: none;
}
